click
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
six
Werkzeug
python-decouple
pyngrok
db-sqlite3
freeport
cx_Oracle
flaskcode
autocorrect
pandas
nltk==3.2.5
gensim==3.6.0
scikit-learn==1.0.2